
body{
    background-color: #c9fdfb;
    width:100vw;
    height: 100vh;


} 

    
nav{
    text-align:right;
    margin:5% 0% 0% 25%;
    width:70%;
}


nav li{
    display: inline;
    padding: 4%;

    
}

nav li a{
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;

    color: #777979;
}

.left-text{
    margin:6%
}

.left-text h1{
    font-size: 50px;
    line-height: 70px;
}

.left-text i{
    color:#35B6C4;
    margin: 2%;
    width:1%;
    padding: 1%;
    background: #fff;
    border-radius:50%;

}

.one{
    color:rgb(231, 73, 15);
    font-size:15px;
    font-weight: bold;
}

.two{
    color: #777979;
    font-weight: bold;
    line-height:20px;
}

.button-text{
    background-color: #35B6C4;
    width: 14%;
    padding:1%;
    border-radius: 5px;
    margin: 2% 0 0 0;
    color: #c9fdfb;
    font-size:16px;
    border:#35B6C4 solid 2px;

    
}

.image img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: -30% 0 0 18% ;
    
}

.right-text img{
    float: right;
    margin:-19% 0% 0 0%;
    align-items: center;
    width:120%
    
}

.right-text{
    border: 2px solid #6B9994;
    width:35%;
    float:right;
    margin:-39% 5% 0 0%;
    border-width:60px;
    border-radius: 100%;
}




     

.Intro h1{
    font-size: 40px;
    margin: 15% 0 0 6%;
    width: 40%;

}

.Intro p{
    float: right;
    width: 30%;
    margin:-3% 0 0 0;
    color: #777979;
    line-height:20px;
    

}

/*----------------Services---------------------*/

.services{
    background: #e6fffe;
    width:100vw;
    height: 100vh;

}

.service-one{
    margin:5% 0 0 5%;
      
}
.radiology {
    margin:3% 4%;
     width: 20%;
     background-color: #fff;
     padding:25px;

      
}

.radiology i{
    color: #35B6C4;
}

.radiology p{
    color:  #737e7c;
    line-height:20px;

}

.ambulance{
    margin:-22.5% 0 0 31.5%;
    width: 20%;
    background-color: #fff;
    padding:39px;

}

.ambulance p{

    color:#737e7c;
    line-height:20px;
}

.ambulance i{
    color:#35B6C4;
    
}

.dental{
    margin:-19.7% 0 0 62%;
     width: 20%;
     background-color: #fff;
     padding:44px;

}

.dental p{
    color:#737e7c;
}

.dental i{
    color: #35B6C4;
}

.service-two{
    margin:5% 0 0 0; 
}

.surgical{
    margin:3% 8.5%;
    width: 19%;
    background-color: #fff;
    padding:29.2px;

}

.surgical p{
    color:#737e7c;
    line-height:20px; 
}

.surgical i{
    color: #35B6C4;
}

.parturition{
    margin:-20% 0 0 35%;
    width: 20%;
    background-color: #fff;
    padding:30px;

    }

.parturition p{
    color:#737e7c; 
    line-height:20px;
}

.parturition i{
    color: #35B6C4;
}

.pet{
    margin:-17% 0 0 64%;
     width: 21%;
     background-color: #fff;
     padding:30px;

}

.pet p{
    color:#737e7c; 
    line-height:20px;

}

.pet i{
    color: #35B6C4;
}


/*-------------Doctors-------*/

.doctors{
    width:100vw;
    height: 100vh;
}

.right-doctors{
     
    margin:7% 8%;
}
.right-doctors img {
    border-radius: 30px;
    width:40%;
    background-color:#737e7c;
}

.left-doctors{
    float:right;
    margin: -56% 11%;
    width:40%;

}

.left-doctors h1{
    font-size:50px;
    width:110%;
    

}

.left-doctors p{
    color:#737e7c;
    line-height:20px;
}

.contact-button{
    background-color: #35B6C4;
    width: 140px;
    height:40px;
    border-radius: 5px;
    margin: 3% 0 0 0;
    color: #c9fdfb;
    font-size:16px;
    border:#35B6C4 solid 2px;
    
}

/*-----------------Patients---------------*/
.patients{
    background: #eefffe;
    width:100vw;
    margin:-26% 0 0 0;
    height:100vh;
    


}

.left-patients h1{
    margin:30% 0 5% 3%;
    font-size:30px;
    width:44%;
    padding:10px;

}

.comment-one{
    width:48%;
    background-color: #fff;
}

.comment-one i{
    color:#acf0f8;
   margin: 5% 0% 0% 7%;
   font-size: 60px;

}

.comment-one h3{
    margin:0% 0% 5% 7%;
    font-size:25px;
    padding: 10% 0% 0% 0%;
}

.comment-one p{
    color:#737e7c;
    line-height:20px;
    margin:10% 0 5% 7%;

}

.comment-one img{
    width:30px;
    border-radius: 90%;
    margin:10% 0 5% 7%;

}

.client-one{
    margin:-17% 0% 5% 14%;
}

.client-one h4{
    
     width:25%
}

.client-one p{
    width:15%;
    margin:-3% 0% 5% 0%;
}

.rating img{
    width:20%;
    border-radius: 0;
    margin:-3% 0% 5% 7%;
}

.client-one .rating-points{
    border:solid black 2px;
}

.right-patients p{
    margin:-52% 0 6% 51%;
     width:50%;
    float:right;
    color:#737e7c;
    border:2ppx solid black

}


.comment-two{
    width:49.4%;
    background-color: #fff;
    float:right;
    margin:-45.5% 2% 5% 0%;
    
}



.comment-two i{
   color:#acf0f8;
   margin: 5% 0% 0% 7%;
   font-size: 60px;
}

.comment-two h3{
    margin:0% 0% 5% 7%;
    font-size:25px;
    padding: 10% 0% 0% 0%;
}

.comment-two p{
    color:#737e7c;
    line-height:20px;
    margin:10% 0% 5% 7%;

}

.comment-two img{
    width:50px;
    border-radius: 90%;
    margin:10% 0% 5% 7%;

}

.client-two{
    margin:-17% 0% 5% 16%;
}

.client-two h4{
    width:25%; 
}

.client-two p{
    width:15%;
    margin:-3% 0% 5% 0%;
}

.rating-one img{
    width:140px;
    border-radius: 90%;
    margin:-3% 0 5% 7%;


}

/*---------Featured Doctors------------*/

.featured-doctors{
    width:100vw;
    height:100vh;
}

.featured-doctors h1{
    margin:5% 0 5% 3%;
    font-size:40px;
    width:70%;
    
}

.featured-one img{
    background-color:#d8d2d5;
    margin:-3% 0 5% 8%;
    border-radius: 4%;
    width: 22%;
}

.featured-one h4{
    margin:-5% 0 5% 8%; 
    font-size:20px;
    width:20%;
}

.featured-one p{
    margin:-5% 0 5% 8%;
    color:#737e7c; 
    width:20%;
}

.featured-two{
    
    margin:-55% 0 5% 27%;
    height:-10%;
    
}

.featured-two img{
    background-color:#c2eef8;
    margin:8% 0 0% 14%; 
    width:29.9%;
    border-radius: 4%;
}

.featured-two h4{
    margin:0% 0 5% 14%; 
    font-size:20px;
    width:25%;
    
}

.featured-two p{
    margin:-5% 0 5% 14%;
    color:#737e7c; 
    width:20%; 
}

.featured-three{
    margin:-55% 0 5% 58%;
    
 
}

.featured-three img{
    background-color:#efe7ea;
    margin:14% 0 5% 22%; 
    width:52%;
    border-radius: 4%;
}

.featured-three h4{
    margin:-4% 0 5% 22%; 
    font-size:20px;
    width:50%; 
    
}

.featured-three p{
    margin:-5% 0 5% 22%;
    color:#737e7c; 
    width:30%;
}

/*-------------------Subscribe---------------*/

.subscribe{
    width:100vw;
    height: 50vh;
}


.subscribe-box{
    background-color:#91dae3;
    padding:10%;
    width:62%;
    margin:10% 0 5% 7%;
    border-radius: 20px;
}

.subscribe-box h1{
    font-size: 45px;
    width:70%;
    margin:-9% 0 0 15%;
}

.onecontainer{
    display: flex;
}


.subscribe input{
    width:60%;
    padding:30px;
    border-radius:12px;
    font-size:18px;
    border: #35B6C4;
    margin:0 0 0 10%;
    
}

.subscribe-button{
    background-color: #35B6C4;
    width: 140px;
    height:40px;
    border-radius: 5px;
    margin: 2% -50% 0% -20%;
    color: #c9fdfb;
    font-size:16px;
    border:#35B6C4 2px solid;
 }


 /*------------------Footer----------------*/

 .footer{
    background: #eefffe;
    width:100vw;
    height:45vh;
     
 }
 .yourpet h5{
    margin: 3% 0 0 7%;
    width:10%;
    font-size:15px;
 }

 .yourpet span{
     color:#35B6C4;
     font-size:50px
 }

 .yourpet p{
    margin: 1% 0 0 7%;
    color:#737e7c;
    line-height:25px;
    width:15%
 }

 .icons{
     display: flex;
     margin: 1% 4% 1% 7%;
 }

 .facebook i{
     color:#17326d;
     
 }

 .twitter i{
     color: #35B6C4;
    
 }
  
 .google i{
     color: rgb(195, 50, 50);
 }

 .linkedin{
     color: #0d2a68;
 }

 .product h5{
    margin: -11% 0 0 36%;
    width:10%;
    font-size:15px; 
 }

 .product p{
    margin: 1% 0 0 36%;
    color:#737e7c;
    line-height:25px;
    width:15%

 }

 .community h5{
    margin: -14% 0 0 56%;
    width:10%;
    font-size:15px; 

 }

 .community p{
    margin: 1% 0 0 56%;
    color:#737e7c;
    line-height:25px;
    width:15% 
 }

 .about h5{
    margin: -16% 0 0 76%;
    width:10%;
    font-size:15px;  
 }

 .about p{
    margin: 1% 0 0 76%;
    color:#737e7c;
    line-height:25px;
    width:15%
 
 }
